<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ $sass := resources.Get "main.scss" }}
    {{ $css := $sass | resources.ToCSS | resources.PostCSS (dict "config" "postcss.config.js" "noMap" true)}}
    <link href="{{$css.Permalink}}" rel="stylesheet">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Lato">

    <title>Document</title>
</head>
<body>
    {{partial "header" . }}
    {{block "main" .}}
    {{end}}
    <script src="/js/main.js"></script>
</body>
</html>