$white: rgb(245, 245, 245); 
$grey: #d4d4d4;
$dark-grey: #a3a3a3;
$text: #404040;
$nav-item-color: #8d969d;
$navbar-background: white;
$nav-item-hover-color: #404040;
@import 'components/navbar';
* {
    margin:0;
    padding:0;
    font-family: "Lato";
    background-color: white;
}

body {
    background-color: white;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}
.container {
    width: 80%;
    margin-right:auto;
    margin-left:auto;
}

.container-fluid {
    width:100%;
}

@media screen and (max-width: 768px){


}

@media screen and (min-width: 768.1px){

}