<nav class="nav">
    <div class="nav-bar-brand">
        <img class="brand" src="/images/prospace_cinzas_site.png"></img>
        <div class="nav-burger" onclick="myLib.toggleBurger(this)">
            <div class="bar1"></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="nav-items-container" id="nav-items-container">
        <div class="nav-items nav-end">
            <div class="nav-item">INÍCIO</div>
        </div>
        {{ range .Pages }}
        <div class="nav-items">
            <a class="nav-item" href="{{ .Permalink }}">{{ .Title }}</a>
        </div>
        {{ end }}
    </div>
</nav>